.card{
  margin: 30px;
}
.card:hover{
  box-shadow: 0 6px 6px 0 rgb(138, 136, 136);
}
.detailedpage{
  margin:100px
}
button {
  background-color: rgb(189, 254, 176);
  border-style: none;
}
.span3{
  margin-bottom: 10px;
}